# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"


set mysql_connection_string "server=localhost;uid=azizV1;password=;database=azizV1"
set mysql_debug 0
set es_enableCustomData 1

# These resources will start by default.
ensure mapmanager
ensure fivem
ensure essentialmode     
ensure mysql-async 
ensure esplugin_mysql

######### scripts ########
start mythic_notify
start new_instance
start mythic_progbar
start spawnmanager
start fivem-map-skater
stop chat
exec permissions.cfg
start vMenu
start citynight
start citynight_utils
start gcphone
start ls-radio

########### Mapping ############
start bob74_ipl
start vagos_interieur
start families_interieur
start phxlsmc
start police_station_2b
start SLBK11_MissionRow
start ballasint

########### Voitures ############
start pack_police
start lux_vehcontrol
start StopDespawn


########### HUD ############
start poggu_hud
start fox_loadingscreen

########### Mods ############
start sacados
start sound
start weaponry
start eup-stream


# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
#rcon_password ""

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "default"

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

# Set your server's hostname
sv_hostname "^0[FR/QC] ^3CityNight ^0| ^0Serious RP ^0| ^1Systeme Vocal 3D + Radio IG (TokoVoip) ^0| ^3100% Manette ^0| ^0Discord:SzCcTeE"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon logos.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
#sv_master1 ""

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:11000010ca951f2 group.admin # add the admin to the group
add_principal identifier.steam:11000010a5ab15f group.admin # add the admin to the group

# Hide player endpoints in external log output.
sv_endpointprivacy true

# Server player slot limit (must be between 1 and 32, unless using OneSync)
sv_maxclients 64

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey a8my70ve0115ujgbfocrwwgubu86o5l1
set onesync_enabled 1

set steam_webApiKey "1AE892009493DFB3B2B268D7B98DB152"  

setr voice_use3dAudio true
setr voice_useSendingRangeOnly true
